body{
    min-width:900px;
}

#myCanvas {
position:absolute;
    z-index:-1;
}

.square {

    float:left;
    z-index:99;

}

#square4, #square7{
    clear:both;
}

#options {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 50px 100px 50px 100px;
    text-transform:uppercase;

}

